# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/iconfont

types/auto/*
.eslintrc-auto-import.json

# vuepress
.temp
.cache
node

split-box/config/sysConfig.json
split-box/config/theme.json
split-box/markdown-css/.gitignore
split-box/markdown-css/drake-ayu.css
split-box/markdown-css/drake-black.css
split-box/markdown-css/drake-dark.css
split-box/markdown-css/drake-google.css
split-box/markdown-css/drake-jb.css
split-box/markdown-css/drake-juejin.css
split-box/markdown-css/drake-light.css
split-box/markdown-css/drake-material.css
split-box/markdown-css/drake-purple.css
split-box/markdown-css/drake-vue.css
split-box/markdown-css/drake-vue3.css
split-box/markdown-css/drake.css
split-box/markdown-css/issues.md
split-box/markdown-css/LICENSE
split-box/markdown-css/README.md
split-box/markdown-css/.github/ISSUE_TEMPLATE/----.md
split-box/markdown-css/drake/font.css
split-box/markdown-css/drake/JetBrainsMono-Bold.woff2
split-box/markdown-css/drake/JetBrainsMono-BoldItalic.woff2
split-box/markdown-css/drake/JetBrainsMono-Italic.woff2
split-box/markdown-css/drake/JetBrainsMono-Regular.woff2
split-box/markdown-css/img/drake-thumb.png
split-box/markdown-css/img/previw.png
split-box/markdown-css/img/thumbnail-ayu.png
split-box/markdown-css/img/thumbnail-black.png
split-box/markdown-css/img/thumbnail-dark.png
split-box/markdown-css/img/thumbnail-drake.png
split-box/markdown-css/img/thumbnail-google.png
split-box/markdown-css/img/thumbnail-jb.png
split-box/markdown-css/img/thumbnail-juejin.png
split-box/markdown-css/img/thumbnail-light.png
split-box/markdown-css/img/thumbnail-material.png
split-box/markdown-css/img/thumbnail-purple.png
split-box/markdown-css/img/thumbnail-vue.png
split-box/markdown-css/img/thumbnail-vue3.png
vite.config.ts.timestamp-1694601541498-f4cf2b66bb3f1.mjs
split-box.war
