# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/iconfont

types/auto/*
.eslintrc-auto-import.json

# vuepress
.temp
.cache
node

split-box/*
split-box.war
vite.config.ts.timestamp-1694601541498-f4cf2b66bb3f1.mjs
